{{define "title"}}Update Password{{end}}
{{define "main"}}
<form action='/account/password/update' method='POST' novalidate>
  <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
  <div>
    <label>Current Password:</label>
    {{with .Form.FieldErrors.current_password}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='text' name='current_password'>
  </div>
  <div>
    <label>New Password:</label>
    {{with .Form.FieldErrors.new_password}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='text' name='new_password'>
  </div>
  <div>
    <label>Confirm New Password:</label>
    {{with .Form.FieldErrors.confirm_new_password}}
    <label class='error'>{{.}}</label>
    {{end}}
    <input type='text' name='confirm_new_password'>
  </div>
  <div>
    <input type='submit' value='Change Password'>
  </div>
</form>
{{end}}